

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.smallText {
  font-size: .3rem;
}


.boldText {
  font-weight: bold;
}

.newFont {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.multiple {
  font-size: x-large;
  color: orange;
  font-weight: bold;
}

.styledFont {
  text-decoration: line-through;
}

#styledImage {
  border-width: thick;
  border-style: solid;
  border-color: red;
}
